/* ========================== <Fonts> ========================== */

@font-face {
  font-family: "Lalezar";
  src: url(../Fonts/Lalezar/Lalezar-Regular.ttf) format("truetype"),
    url(../Fonts/Lalezar/Lalezar-Regular.otf) format("opentype");
}

@font-face {
  font-family: "Gandom";
  src: url(../Fonts/Gandom/Gandom-FD-WOL.ttf) format("truetype"),
    url(../Fonts/Gandom/Gandom-FD-WOL.woff) format("woff");
}

/* ========================== <Variable> ========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #023e8a;
  --clr-secondary: #00a6fb;
  --clr-gray1: #2c2e46;
  --clr-gray2: #8d99ae;
  --clr-gray3: #edf2f4;
  --clr-whith: #fff;
  --fnt-primary: "Lalezar", sans-serif;
  --fnt-secondary: "Gandom", sans-serif;
  --radius: 0.5rem;
  --transition: all 0.3s linear;
}

body {
  font-family: var(--fnt-primary);
  background-color: var(--clr-whith);
  color: var(--clr-gray1);
  text-align: right;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1rem;
}

.section-title {
  h3 {
    color: var(--clr-primary);
  }
}

.section-title {
  margin-bottom: 2rem;
}

.section-center {
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1700px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 98vw;
    padding: 4rem 1rem;
  }
}

.clearfix::after,
.clearfix::before {
  content: "";
  display: block;
  clear: both;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h4 {
    font-size: 1.25rem;
  }
}

.btn {
  background: var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: var(--clr-whith);
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-secondary);
  color: var(--clr-primary);
}

/* ========================== <Navbar> ========================== */

.nav-btn {
  font-size: 2.5rem;
  color: var(--clr-primary);
  position: fixed;
  top: 2%;
  right: 1%;
  z-index: 1;
  cursor: pointer;
  animation: navbut 3s ease infinite;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  background: var(--clr-gray3);
  z-index: 2;
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  transition: var(--transition);
}

.showNav {
  transform: translateX(0);
}

.nav-close {
  font-size: 2.5rem;
  color: #f29c9c;
  cursor: pointer;
  transition: var(--transition);
}

.nav-close:hover {
  color: #bb2525;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: var(--clr-gray2);
  transition: var(--transition);
}

.nav-link i {
  font-size: 1.4rem;
  margin-left: 0.3rem;
}

.nav-link:hover {
  display: block;
  background: var(--clr-secondary);
  border-right: 0.25rem solid var(--clr-primary);
  padding-right: 1.5rem;
  color: var(--clr-primary);
}

.nav-items {
  list-style-type: none;
  direction: rtl;
}

.navbar-header {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 30vw;
    max-width: 20rem;
  }
}

@keyframes navbut {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.45);
  }

  100% {
    transform: scale(1);
  }
}

/* ========================== <Header> ========================== */

.header {
  position: relative;
  height: 100vh;
  background: linear-gradient(rgba(92, 91, 91, 0.1)),
    url(../Img/img\ 1.jpg) center/cover no-repeat fixed;
}

.banner {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.banner h1 {
  color: var(--clr-primary);
  font-size: 1.75rem;
  margin-bottom: 2rem;
  animation: top 2s ease-in-out 1;
}

.banner h2 {
  color: var(--clr-whith);
  margin-bottom: 3rem;
  animation: buttom 2s ease-in-out 1;
}

.btn-banner {
  display: inline-block;
  font-size: 1.25rem;
  outline: 0.125rem solid #023e8a;
  outline-offset: 0.25rem;
  padding: 0.75rem 1.25rem;
  animation: buttom 2s ease-in-out 1;
}

.button {
  background: var(--clr-primary);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  color: var(--clr-whith);
  transition: var(--transition);
}

.button:hover {
  background: var(--clr-secondary);
  outline: 0.125rem solid #00a6fb;
  outline-offset: 0.25rem;
  color: var(--clr-primary);
}

@keyframes top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes buttom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* ========================== <Divider> ========================== */

.divider {
  height: 0.5rem;
  background: linear-gradient(
    to left,
    var(--clr-primary),
    var(--clr-secondary),
    var(--clr-primary)
  );
}

/* ========================== <Features> ========================== */

.features {
  background: var(--clr-gray3);
}

.feature {
  text-align: center;
  padding: 2.5rem 0;
  transition: var(--transition);
}

.feature:hover {
  background: var(--clr-whith);
  box-shadow: 0 2px 0 var(--clr-primary);
  /* border-bottom: 2px solid var(--clr-primary); */
}

.icon-feature {
  display: inline-block;
  font-size: 2rem;
  color: var(--clr-primary);
  margin-bottom: 1.25rem;
  transition: var(--transition);
}

.feature:hover .icon-feature {
  color: var(--clr-secondary);
  transform: translateY(-5px);
}

.feature-title {
  margin-bottom: 1.25rem;
}

.feature-text {
  padding: 0 1rem;
  color: var(--clr-gray2);
  margin-bottom: 1rem;
}

@media screen and (min-width: 576px) {
  .feature {
    float: right;
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .feature {
    float: right;
    width: 25%;
  }
}

/* ========================== <About> ========================== */

.about-picture .about-info {
  padding: 2rem 0;
}

.about-picture-container {
  max-width: 30rem;
  border: 0.3rem solid var(--clr-primary);
  border-radius: var(--radius);
  overflow: hidden;
}

.picture-container {
  transition: var(--transition);
}

.about-picture-container:hover .picture-container {
  opacity: 0.7;
  transform: scale(1.2);
}

.about-text {
  color: var(--clr-gray2);
}

.about-btn {
  display: inline-block;
  margin-top: 1.85rem;
}

@media screen and (min-width: 995px) {
  .about-picture {
    float: left;
    width: 50%;
  }

  .about-info {
    float: right;
    width: 50%;
  }
}

@media screen and (max-width: 700px) {
  .about-info {
    padding-top: 1rem;
    display: inline-block;
  }
}

/* ========================== <Products> ========================== */

.products {
  background: var(--clr-gray3);
}

.products article {
  padding: 2rem 0;
}

.products-text {
  color: var(--clr-gray2);
  max-width: 26rem;
  margin-left: auto;
}

.btn-products {
  margin-top: 1.5rem;
  display: inline-block;
}

.product {
  margin-bottom: 2rem;
}

.products-img {
  border-radius: var(--radius);
  margin-bottom: 1rem;
  height: 17rem;
  object-fit: cover;
}

.products-price {
  color: var(--clr-primary);
  direction: rtl;
}

@media screen and (min-width: 776px) {
  .product {
    float: right;
    width: 50%;
    padding-left: 2rem;
  }
}

@media screen and (min-width: 992px) {
  .product {
    float: right;
    width: 33.33%;
  }
}

@media screen and (min-width: 1200px) {
  .Products-info {
    float: right;
    width: 30%;
  }

  .products-gallery {
    float: left;
    width: 70%;
  }

  .product {
    padding-left: 0;
    padding-right: 2rem;
    margin-bottom: 0;
  }
}

/* ========================== <Services> ========================== */

.services-title {
  text-align: center;
}

.service-card {
  background: var(--clr-gray3);
  margin: 2rem 0;
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  margin-bottom: 2.5rem;
}

.service-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
}

.service-img {
  object-fit: cover;
  height: 17rem;
  margin-bottom: 2.5rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.service-info {
  text-align: center;
}

.btn-service {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.service-info p {
  color: var(--clr-gray2);
  max-width: 20rem;
  margin: 1rem auto;
}

@media screen and (min-width: 768px) {
  .service-card {
    float: right;
    width: 45%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media screen and (min-width: 992px) {
  .service-card {
    width: 30%;
    margin-left: 1.66%;
    margin-right: 1.66%;
  }
}

.service-img-container {
  position: relative;
}

.service-icon {
  position: absolute;
  left: 50%;
  bottom: 0;
  font-size: 1.75rem;
  color: var(--clr-primary);
  transform: translate(-50%, 50%);
  background: var(--clr-secondary);
  padding: 0.5rem 0.7rem 0.1rem 0.7rem;
  border-radius: 50%;
  border: 0.375rem solid var(--clr-gray3);
}

/* ========================== <Contact us> ========================== */

.contact {
  background: var(--clr-gray3);
}

.contact article {
  margin: 1rem 0;
}

.contact-item {
  margin-bottom: 1.7rem;
}

.contact-icon {
  margin-left: 0.15rem;
}

.contact-text {
  font-size: 1.1rem;
}

.contact-title {
  color: var(--clr-primary);
  font-weight: 400;
  direction: rtl;
}

.contact-form {
  background: var(--clr-whith);
  border-radius: var(--radius);
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: var(--transition);
  max-width: 35rem;
}

.contact-form:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.contact-form h3 {
  color: var(--clr-gray2);
  padding-top: 1.25rem;
}

.form-group {
  padding: 1rem 1.5rem;
}

.form-cnt {
  display: block;
  width: 100%;
  margin-bottom: 1.25rem;
  padding: 0.75rem 1rem;
  border: none;
  background: var(--clr-gray3);
  border-radius: var(--radius);
  direction: rtl;
}

.form-cnt::placeholder {
  font-family: var(--fnt-primary);
  color: var(--clr-gray1);
}

.submit-btn {
  display: block;
  width: 100%;
  padding: 1rem;
  border: none;
  font-family: var(--fnt-primary);
}

@media screen and (min-width: 992px) {
  .contact article {
    float: right;
    width: 50%;
  }
}

@media screen and (min-width: 1500px) {
  .contact-info {
    padding-right: 10rem;
  }

  .contact-form {
    position: relative;
    right: 10rem;
  }
}

@media screen and (min-width: 1350px) and (max-width: 1499px) {
  .contact-info {
    padding-right: 5rem;
  }

  .contact-form {
    position: relative;
    right: 5rem;
  }
}

/* ========================== <Footer> ========================== */

.footer {
  font-family: var(--fnt-secondary);
  background: #222;
  text-align: center;
  color: #fff;
}

.social-icon {
  display: inline-block;
  color: var(--clr-whith);
  font-size: 1.5rem;
  margin-right: 1.25rem;
  margin-bottom: 1rem;
  transition: var(--transition);
}

.social-icon:hover {
  color: var(--clr-secondary);
}

.footer-text {
  font-size: 1.1rem;
  direction: rtl;
}

.company {
  color: #00a6fb;
  font-size: 1.3rem;
  padding-left: 0.15rem;
}

/* ========================================================= */
